<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dpanayotov.callloggingexample">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CallLoggingExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.dpanayotov.callloggingexample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.dpanayotov.callloggingexample.CallLogActivity" />
        <activity android:name="com.example.dpanayotov.callloggingexample.CallLogEntryFullscreenActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aaf47809edd6d72986b5c8f652d2fe106e510c3b" />
    </application>

</manifest>